* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #999;
}

.conainar {
    max-width: 1170px;
    padding: 30px;
    margin: auto;
}

.layout .conainar {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.layout .conainar>div {
    background-color: lightseagreen;
    text-align: center;
    padding: 10px;

}

.layout .conainar .item3 {
    grid-column: 3 / 5;
}
.layout .conainar .item4 {
    grid-column: 1 / 3;
}
.layout .conainar .item9 {
    grid-column: 3 / 5;
}
.layout .conainar .item10 {
    grid-row: 4 / 6;
    grid-column: 1 / span 2;
}